table{
    border-collapse: collapse;
    border: 2px solid rgb(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    letter-spacing: 1px;
    width: 50%;
}

thead {
    background-color: aqua;
}


tbody{
    background-color: aquamarine;
    text-align: center;
}
tfoot{
    background-color: blue;
    text-align: center;
}